indel.filter.input = ./*all.head
indel.filter.vaf = 0.05
indel.filter.cov = 20
indel.filter.hom = 6
indel.filter.pindel2vcf = pindel2vcf
indel.filter.reference = /home/data/data_Jeffery/ITD-detection/GenomonITDetector38/GRCh38.d1.vd1.fa
indel.filter.referencename = GRCh38.d1.vd1.fa
indel.filter.referencedate = 20231025
indel.filter.output = indel.filter.output